{% extends 'base.html' %}
{% load static %}

{% block css_files %}
  <link rel="stylesheet" href="{% static 'blog/header.css' %}">
  <link rel="stylesheet" href="{% static 'blog/posts.css' %}">
  <link rel="stylesheet" href="{% static 'blog/post.css' %}">
  {% endblock  %}

{% block title %}
  My Blog
{% endblock  %}

{% block content %}
  {% include 'blog/partials/header.html' %}

  <section id='all-posts'>
    <h2>Blog Posts</h2>
    <ul>
      <li>
        {% include 'blog/partials/post.html' %}
      </li>
      <li>
        {% include 'blog/partials/post.html' %}
      </li>
      <li>
        {% include 'blog/partials/post.html' %}
      </li>
      <li>
        {% include 'blog/partials/post.html' %}
      </li>
      <li>
        {% include 'blog/partials/post.html' %}
      </li>
      <li>
        {% include 'blog/partials/post.html' %}
      </li>
    </ul>
  </section>
{% endblock %}