{% extends 'base.html' %}
{% load static %}

{% block css_files %}
<link rel="stylesheet" href="{% static 'blog/header.css' %}">
<link rel="stylesheet" href="{% static 'blog/stored-posts.css' %}">
{% endblock  %}

{% block title %}
My Stored Posts
{% endblock  %}

{% block content %}
{% include 'blog/partials/header.html' %}
<section id='stored-posts'>
  {% if not has_posts %}
  <p>You did not save any posts for reading later!</p>
  {% endif %}
  <ul>
    {% for post in posts  %}
    <li>
      <a href="{% url 'post-details' post.slug %}">{{ post.title }}</a>
    </li>
    {% endfor %}
  </ul>
</section>
{% endblock  %}